/* index */
#labmenu li{
  display:inline;
  float:left;
}
  
a:hover{
  text-decoration:none;
}

.bg-dark * :not(.dropdown-item){
  color:white;
}

/* teacher */
#back {
  height: 600px;
  margin: auto;
  display: table;
  min-width: 80vw;
}

.block{
  background-color: white;
  width: 40%;
  height: 600px;
  vertical-align: top;
  display: table-cell;
  border: 1px black solid;
}

.block #han {
  width: 449px;
  height: 600px;
  margin: auto;
  display: block;
}

/* 畢業生&成果展示 card */
.card, .col-2{
  text-align: center;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

/* footer */
.wrapper{
  position:relative;
  min-height: 90vh;
}

.botm{
  position: absolute;
  bottom:0px;
  width:100%;
}